{% extends 'base.html' %}
{% load static %}

{% block body %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Page Banner Section -->

<section class="page-banner" style="background-color: #2b2b2b;">
  {% for i in about_image_bg %}
<div class="image-layer" style="background-image: url('{{i.image_bg_about.url}}');"></div>
{% endfor %}
  <div class="auto-container">
    <h2 class="textBanner"> All Services  <span class="fa" id="lineHeader"></span></h2>
  </div>



</section>
<section class="join-events">
  <!--Upper Box-->
  <div class="upper-box">


    <div class="auto-container">
      <div class="row clearfix">
      

        <div class="text-column col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="sec-title">
              <!-- <h2>Our Services</h2> -->
            </div>
            <div class="text-content">
              <div class="text"> In Hemam Al Ataa Co. for General Trading and Contracting Company,
                we rely on a qualified and professional team with expertise in the construction
                industry and related works and how to develop and adapt work to obtain the
                desired results by permanently studying the work environment and its variables,
                identifying those variables and developing the best solutions to ensure the
                progress of work in accordance with the implementation schedules established.
              </div>

            </div>
          </div>
        </div>
        <!--Image Column-->
        <!--Lower Box-->  
        <div class="lower-box">
          <!-- <div class="image-layer" ></div> -->
          <div class="auto-container">

            <div class="row clearfix">
              <!--Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="0ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/cs.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">consultancy services</a></h3>
                  </div>
              </div>
              <!--Service Block-->

              <!--Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="600ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/eh.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">establishing desalination </a></h3>
                  </div>
              </div>
              <!-- Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="0ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/water_tre.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">water treatment plants</a></h3>
                  </div>
              </div>
              <!--Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="300ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/ep.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">electrical power systems</a></h3>
                  </div>
              </div>
              <!-- Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="600ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/cn.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">communication networks </a></h3>
                  </div>
              </div>
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="600ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/eh.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">educational and health facilities </a></h3>
                  </div>
              </div>
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="300ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/is.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">designing, supervising and implementing infrastructure
                              services. </a></h3>
                  </div>
              </div>
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="600ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/sh.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">Designing, Supervising And Implementing Shipping Works,
                              roads and bridges </a></h3>
                  </div>
              </div>
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft"
                  data-wow-delay="600ms">
                  <div class="inner-box">
                      <div class="icon"><img src="{% static 'careers/images/icons/wn.png' %}" width="60" height="50"></img></div>
                      <h3><a href="#">Designing, Supervising And Implementing Water Networks and
                              Drainage Joining </a></h3>
                  </div>
              </div>
          </div>

        </div>
      
      
      </div>
    </div>

  </div>
  </div>



</section>




{% endblock body %}